/**
* Color codes
**/

/* Colors (naming based from Figma) */

$color_rose              : #998060;
$color_rose_bg1          : #FAF9F7;
$color_rose_bg2          : #F5F2EF;
$color_line_brown        : #E7E1DA;
$color_white             : #FFFFFF;
$color_black             : #000000;
$color_text_primary      : #444444;
$color_text_secondary    : #898989;
$color_text_inactive     : #A8A8A8;
$color_text_placeholder  : #BCBCBC;
$color_grey              : #E4E6EB;
$color_border            : #E8E8E8;
$color_error             : #CC4534;
$color_success           : #53B671;
$color_warning           : #F2C14F;
$color_info              : #3677C3;
$color_placeholder       : #f6f7f8;
$color_elements_lines    : #E6E6E6;