.react-date-picker
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  min-width: 100%;
  max-width: 100%;
  width: 100%;

  &,
  & *,
  & *:before,
  & *:after
  {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &--disabled
  {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }

  &__wrapper
  {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: none; // thin solid gray;
  }

  & > div[class="react-date-picker__wrapper"]
  {
    & + span
    {
      display: block !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      & > *
      {
        pointer-events: auto;
      }
    }
  }

  &__inputGroup
  {
    min-width: calc((4px * 3) +  0.54em * 8  +  0.217em * 2);
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;

    &__divider
    {
      padding: 1px 0;
      white-space: pre;
    }

    &__input
    {
      min-width: 0.54em;
      height: 100%;
      position: relative;
      padding: 0 1px;
      border: 0;
      background: none;
      font: inherit;
      box-sizing: content-box;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }

      &:invalid
      {
        background: rgba(255, 0, 0, 0.1);
      }

      &--hasLeadingZero
      {
        margin-left: -0.54em;
        padding-left: calc(1px +  0.54em);
      }

    }
  }

  &__button
  {
    border: 0;
    background: transparent;
    padding: 4px 6px;

    &:enabled 
    {
      cursor: pointer;

      &:hover .react-date-picker__button__icon,
      &:focus .react-date-picker__button__icon
      {
        stroke: #0078d7;
      }
    }

    &:disabled
    {
      .react-date-picker__button__icon
      {
        stroke: #6d6d6d;
      }
    }

    svg
    {
      display: inherit;
    }
  }

  &__calendar
  {
    width: 350px;
    max-width: 100vw;
    position: absolute;
    top: 100%;
    left: auto !important;
    right: 32px !important;
    z-index: 1;

    &--closed
    {
      display: none;
    }
  }

  .react-calendar
  {
    border-width: thin;
  }
}