@mixin svgIcon($pseudo: true)
{
    @if $pseudo
    {
        &::before
        {
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            @content;
        }
    }
    @else
    {
        background-repeat: no-repeat;
        background-position: center;
        @content;
    }
}