@import '../utils/variables';

.productsListCategory
{
  &_container
  {
    max-width: stretch;
    margin-bottom: 32px;    
  }

  &_header
  {
    @include flex(row, baseline, space-between);

    &_link
    {
      @include typographyBuilder(secondary, 500, 14, 24);
      text-transform: capitalize;
      color: $color_rose;
      padding: 0 15px;

      &:hover
      {
        color: $color_rose;
        text-decoration: none;
      }
    }

    &_title
    {
      @include flex(row, center, flex-start);
      @include typographyBuilder(secondary, 500, 14, 24);
      text-transform: capitalize;
      color: $color_text_primary;
      padding: 0;
    }
  }
}

.productsItemContainer
{
  max-width: 45%;
  padding-right: 0;
  
  &Image
  {
    width: 100%;
  }
}

.productsListContainer
{
  @include flex(row, flex-start, flex-start, false);
  @include fixedWidth(calc(100% + 30px));
  margin: 0 -15px;
  overflow: auto;
}