@import '../utils/variables';

.legal
{
  &_root
  {
    @include flex(row, flex-start, space-between, true);
    margin: 58px 18px;
    padding: 16px 0 40px;
  }

  &_container
  {
    @include flex(row, flex-start, space-between, true);
    @include fontSize(15);
    @include lineHeight(24);

    color: $color_text_primary;
    padding-top: 24px;
    position: relative;
    text-align: justify;
    text-justify: inter-word;

    p
    {
      @include typographyBuilder(secondary, 400, 14, 24);
    }

    & > p
    {
      width: 100%;
    }
  }

  &_categories
  {
    &Container
    {
      width: 100%;
    }

    &List
    {
      @include flex(column, flex-start, flex-start, false);
      border-top: 1px solid $color_border;
      width: 100%;
      padding: 12px 0;
      list-style: none;
    }

    &Item
    {
      @include typographyBuilder(secondary, 400, 14, 24);
      text-decoration: none;
      margin-right: 10px;
      padding: 12px 12px 12px 0;
      cursor: pointer;

      &:hover
      {
        color: $color_rose !important;
      }

      &Active
      {
        font-weight: bold;
      }
    }
  }
}