@import '../utils/variables';

.login
{
  padding: 0 0 106px 0;
  
  &_breadcrumb
  {
    padding: 74px 18px 0 18px;
    margin-bottom: 24px;
  }

  &_header
  {
    @include flex(column);
    color: $color_rose;

    & > h3 
    {
      @include typographyBuilder(primary,500,28,40)
    }
  }

  &_containerForm 
  {
    @include flex(column);
  }

  &_container
  {
    display: grid;
    padding: 24px 17.5px 0 17.5px;
  }

  &_inputContainer
  {
    @include fixedWidth(100%);
    margin-bottom: 16px;
  }

  &_forgotContainer
  {
    @include flex();
    @include typographyBuilder(secondary,500,14,24);
    grid-row: 3;
    padding: 23.5px 0 0;
    
    & > span > a 
    {
      color: $color_rose;
    }
  }

  &_loginContainer
  {
    @include flex();
    padding: 23.5px 0 35.5px 0;
    @include typographyBuilder(secondary,500,14,24);
    
    & > a 
    {
      color: $color_rose;
    }
  }

  &_haveAccount
  {
    @include typographyBuilder(secondary, 500, 14, 24);
    color: $color_text_secondary;
    text-align: center;

    span
    {
      cursor: pointer;
      color: $color_rose;
    }
  }

  &_signUp 
  {
    margin: 12px 0 0 0 !important;
    text-decoration: none !important;
    color: $color_rose;
  }

  &_separator
  {
    @include fixedWidth(100%);
    text-align: center; 
    border-bottom: 1px solid $color_border; 
    line-height: 0.1em;
    margin: 10px 0 24px; 
  
    & > span 
    { 
      @include typographyBuilder(secondary,400,12,16);
      line-height: unset;
      background: $color_white; 
      color: $color_text_secondary;
      padding:0 10px; 
    }
  }

  &_containerAuth
  {
    @include flex(row,center,center);

    & > div 
    {
      @include flex(row, center, center);
      margin: 0 12px;
      border-radius: 50px; 
      box-shadow: none;
      background: $color_rose_bg2; 
      width: 54px;
      height: 54px !important;
      border: none;
      box-shadow: none !important;
    }

    & > span 
    {
      & > button
      {
        position: relative;
        border: none;
        color: transparent;
      }
    }

    &_item
    {
      @include flex(row, center, center);
      margin: 0 12px;
      border-radius: 50px !important;
      box-shadow: none;
      background: $color_rose_bg2 !important;
      width: 54px;
      height: 54px;
      border: none;
      box-shadow: none !important;

      & > div 
      {
        @include flex();
        padding: 0 !important;
        margin: 0 !important;
        width: 54px;
        height: 54px;
        background: unset !important;
      }
      
      & > span 
      {
        display: none;
      }

      &[class$='metro']
      {
        &::before
        {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          content: "";
          width: 18px;
          height: 18px;
          margin-right: 10px;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.0064 0.000366243H0.992752C0.444397 0.000640901 -0.000137297 0.44545 3.181e-08 0.993942V17.0076C0.00027469 17.556 0.445084 18.0005 0.993576 18.0004H17.0064C17.5551 18.0005 17.9999 17.5558 18 17.0072C18 17.0071 18 17.0069 18 17.0068V0.993118C17.9997 0.444763 17.5549 0.000228914 17.0064 0.000366243Z' fill='%234267B2'/%3E%3Cpath d='M12.4277 18.0004V11.0394H14.7744L15.126 8.31482H12.4277V6.57953C12.4277 5.7925 12.6462 5.25623 13.7748 5.25623H15.2051V2.82591C14.9562 2.79282 14.1025 2.7188 13.109 2.7188C11.0348 2.7188 9.61523 3.98442 9.61523 6.30968V8.31482H7.27734V11.0394H9.61523V18.0004H12.4277Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='18' fill='white' transform='translate(0 0.000366211)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }

  &_forgotPasswordDesc
  {
    padding: 0 17.5px;
    @include typographyBuilder(secondary,400,14,24);
  }
}

.forgotPassword
{
  min-height: calc(100vh - 36px - 58px - 56px);

  &_successTitle
  {
    color: $color_rose;
    padding: 0 18px 24px;
    @include typographyBuilder(primary,500,28,40);
  }

  &_successDesc
  {
    @include typographyBuilder(secondary,400,14,24);
    padding: 0 18px;
  }
}