@import "../utils/variables";

.lookbook
{
  &_container
  {
    padding: 58px 0 106px 0;
  }

  &_breadcrumb
  {
    padding: 16px 18px 24px 18px;
  }

  &_content
  {
    width: 100%;
  }

  &_item
  {
    position: relative;
    min-height: 375px;
    width: 100%;
    height: 100%;
  }

  &_image
  {
    object-fit: fill;
    width: 100%;
    height: 375px;
  }

  &_itemDetail
  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &_link
  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: transparent !important;

    &::after
    {
      content: '';
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &_label
  {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $color_white;
    z-index: 2;
    padding: 12px 16px;
    @include typographyBuilder(primary, 500, 20, 32);
  }

  &_empty
  {
    & > div > a 
    {
      @include typographyBuilder(secondary, 500, 14, 24); 
      text-decoration: none;
      color: $color_rose;
      margin-top: 100px;
    }
  }

  &_detail
  {
    &_title
    {
      @include typographyBuilder(primary, 500, 28, 40);
      text-align: center;
      margin-bottom: 12px;
      color: $color_rose;
    }

    &_img
    {
      width: 100%;
      height: 375px;
      padding: 12px 17.5px;
    }

    & > ul
    {
      list-style-type:none;
      margin:0;
      padding:0;
    }

    &_shareContainer
    {
      margin: 0 17px 24px 17px;
      border-top: 1px solid $color_border;
      border-bottom: 1px solid $color_border;
      padding: 24px 0;
    }

    &_footer
    {
      color: $color_rose;
      text-decoration: none;
      padding: 0 19px;
      padding-top: 7px;

      & > a 
      {
        color: $color_rose;
        text-decoration: none;
      }
      
      
      & > a > svg
      {
        margin-right: 15px;
      }
    }
  }

  &_relatedProducts
  {
    @include typographyBuilder(primary, 500, 20, 32);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 24px;
    color: $color_text_primary;
  }
}