@import '../utils/variables';

.placeorder
{
  padding: 24px 18px;

  &_header
  {
    &__label
    {
      margin-bottom: 24px;
    }

    &__login
    {
      @include typographyBuilder(secondary, 400, 12, 16);
      color: $color_text_primary;
      text-align: center;
      margin-bottom: 24px;

      span
      {
        color: $color_rose !important;
        margin-left: 5px;
      }
    }
  }

  &_labelRegister,
  &_shipping
  {
    @include position(relative);

    input
    {
      @include absolute(4px, auto, auto, 2px);
      opacity: 1;
      cursor: pointer;

      &::after
      {
        content: "";
        @include absolute(-2px, auto, auto, -2px);
        @include fixedWidth(20px);
        @include fixedHeight(20px);
        background: $color_white;
        border: 2px solid $color_rose;
        border-radius: 2px;
        z-index: 1;
      }

      &:checked::after 
      {
        border: none;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiByeD0iMiIgZmlsbD0iIzk5ODA2MCIvPgo8cGF0aCBkPSJNNCAxMUw2IDlMMTAgMTNMOCAxNUw0IDExWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTE0IDVMMTYgN0wxMCAxM0w4IDExTDE0IDVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K")
      }
    }

    label
    {
      @include typographyBuilder(secondary, 400, 14, 24);
      color: $color_text_primary;
      margin-left: 32px;
      margin-bottom: 0;
    }
  }

  &_shipping
  {
    margin-top: 12px;
    margin-bottom: 12px !important;
  }

  &_formError
  {
    background: $color_error;
    padding: 13px 18px;
    margin-bottom: 24px;

    &:empty
    {
      display: none;
    }

    &__label
    {
      @include typographyBuilder(secondary, 400, 12, 16);
      color: $color_white;
      margin: 0;
    }
  }

  &_shippingAreaPopup
  {
    @include flex(row, center, center);
    @include fixed(0, auto, auto, 0);
    @include fixedSize(100%);
    z-index: 30;
    background-color: rgba($color_black, 0.5);
  }

  &_shippingAreaPopupBackground
  {
    @include flex(column, stretch, flex-start);
    @include fixedHeight(100vh !important);
    @include fixedWidth(375px);
    min-height: initial;
    height: fit-content;
    border: none;
    position: relative;
    background: $color_white;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 0;
  
    @media screen and (max-width: 575px)
    {
      @include fixedWidth(100%);
    }
  }

  &_shippingAreaPopupHeader
  {
    @include flex(row, center, space-between);
    position: relative;
    margin: 0;
    padding: 0 20px;
    min-height: 52px;
    background-color: $color_white;
    border-bottom: 1px solid $color_line_brown;

    & + form
    {
      padding: 24px 20px 52px;
      flex-grow: 1;
      overflow-x: hidden;
      overflow: auto;
    }
  }
  
  &_shippingAreaTitle
  {
    @include flex(row, center, center);
    @include typographyBuilder(secondary, 700, 16, 16);

    position: relative;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
  }

  &_shippingAreaCloseButton
  {
    border: none;
    background: transparent;
    box-shadow: none;

    & > svg
    {
      display: none;
    }
    &::before
    {
      content: "";
      @include fixedSize(24px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M19 12H6M12 5l-7 7 7 7'/%3E%3C/svg%3E");
      position: absolute;
      left: 16px;
      top: 14px;
    }
  }

  &_addressMapButtonMapContainer
  {
    @include flex(column, center, center);
    position: relative;
    margin: 10px 12px;
    border: none;
    overflow: hidden;
  }

  &_addressMapButtonMapLabel
  {
    @include typographyBuilder(secondary, 400, 12, 16);
    text-align: center;
    word-break: break-all;
  }

  &_addressMapButtonMapButton
  {
    @include typographyBuilder(secondary, 500, 12, 16);
    background: none;
    border: none;
    color: $color_rose;

    &:hover,
    &:focus,
    &:focus-visible
    {
      color: $color_text_primary;
    }
  }

  &_addressPopupButton
  {
    margin: 0 !important;
    width: 100% !important;
  }
}