@import '../utils/variables';

.resetPassword
{
  min-height: calc(100vh - 36px - 58px - 56px);
  padding: 0 18px;

  &_container
  {
    position: relative;
  }

  &_error
  {
    @include absolute(auto,0,-32px,0);
    text-align: center;
    @include typographyBuilder(secondary,400,12,16);
    color: $color_error;
    grid-column: 1/span 2;
    margin: 0;
  }
}