@import '../utils/variables';

.bannerCarousel
{ 
  &_header {
    flex: 0 0 100%;
    text-align: center;
    cursor: pointer;
  }

  &_link {
    width: 100% !important;
  }

  &_image {
    width: 100%;
    height: 375px;
    object-fit: cover;
  }
}
