@import '../utils/variables';

.copyright
{
  @include typographyBuilder(secondary, 500, 10, 16);
  padding: 0 16px 106px;
  background: $color_rose_bg2;
  color: $color_rose;
  text-align: center;

  &Widget
  {
    padding-top: 26px;
    border-top: 1px solid $color_line_brown;
  }

  a
  {
    color: $color_rose;
  }
}