@import "../utils/variables";

.footer
{
  @include fixed(auto,auto,24px,auto);
  padding: 0 18px;
  max-height: 58px;
  height: 100%;
  width: 100%;
  z-index: 10;

  &_nav
  {
    @include flex(row, center, space-evenly);
    background: $color_white;
    border-radius: 56px;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 340px;

    @media screen and (max-width: $breakpoint_max_sm)
    {
      max-width: 100%;
    }
  
    & > a 
    {
      height: 100%;
      color: $color_text_primary;
      @include flex(column, center, flex-end);
      text-decoration: none;

      & > div
      {
        @include flex(column);
        @include typographyBuilder(secondary,400,10,12.1);
        padding-top: 12px;
        
        & > svg
        {
          width: 13.5px;
          height: 14.05px;
        }
        & > span 
        {
          margin-top: 6.25px;
          margin-bottom: 12px;
        }
        & > hr 
        {
          opacity: 0;
          margin: 0;
          padding: 0;
          background: $color_rose;
          height: 2px;
          width: 100%;
        }
      }
      &:hover 
      {
        color: $color_rose;
      }
    }
  }

  &_menu
  {
    position: relative;
  }

  &_badge
  {
    @include absolute(-2px,auto,auto,52%); 
    @include flex();
    border-radius: 50%;
    background-color: $color_error;
    color: $color_white;
    @include typographyBuilder(secondary,600,8,16);
    padding: 0 4px;
    min-width: 16px;
    max-width: 24px;
  }
}

.active
{
  color: $color_rose !important;
  hr 
  {
    opacity: 100 !important;
  }
}