
@import "../utils/variables";

.form 
{
  @include typographyBuilder(secondary,400,14,24);

  &_textarea
  {
    padding: 17px 24px 0 24px;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    resize: none;
    
    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }
  }

  & > label
  {
    position: absolute;
    z-index: 1;
    color: $color_text_secondary;
    padding: 9px 24px 0 24px;
    @include typographyBuilder(secondary,500,10,16);

    & ~ input, ~ div > input, ~ select
    {
      padding: 16px 24px 0 24px;
    }
  }

  & > div > div[class^=" css-"][class$="-control"] > div > div[class^=" css-"][class$="-placeholder"]
  {
    color: $color_text_placeholder !important;
    opacity: 1; /* Firefox */
  }

  & > input, > div > input
  {
    position: relative;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    color: $color_text_primary;
    padding: 0 24px 0 24px;

    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }

    &::placeholder {
      color: $color_text_placeholder !important;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder,&::-ms-input-placeholder 
    { /* Internet Explorer 10-11 */
     color: $color_text_placeholder !important;
    }
  }

  & > select,
  & > div > div[class^=" css-"][class$="-control"]
  {
    position: relative;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    padding: 0 24px;
    color: $color_text_primary;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC41IDEuNzVMNiA2LjI1TDEuNSAxLjc1IiBzdHJva2U9IiM5OTgwNjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=),
      radial-gradient($color_rose_bg2 70%, transparent 72%);
    background-position:
      right 24px center,
      right 12px center;
    background-size:
      15px 15px,
      40px 40px;
    background-repeat: no-repeat;

    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }
  }

  & > input,select,textarea
  {
    &::placeholder {
      color: $color_text_placeholder !important;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder,&::-ms-input-placeholder 
    { /* Internet Explorer 10-11 */
     color: $color_text_placeholder !important;
    }
  }

  & > input[id="postalCode"]
  {
    width: 50%;
    min-width: 155px;
  }

  & > input[type=number]
  {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button 
    {
     -webkit-appearance: none;
      margin: 0;
    }
  }

  &_checkbox
  {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &:hover::after {
      background-color: #ccc;
      display: flex;
    }
    
    /* When the checkbox is checked, add a blue background */
    &:checked::after {
      background-color: $color_black;
      display: flex;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNkwyIDRMNiA4TDQgMTBMMCA2WiIgZmlsbD0iI0ZBRkFGQSIvPgo8cGF0aCBkPSJNMTAgMEwxMiAyTDYgOEw0IDZMMTAgMFoiIGZpbGw9IiNGQUZBRkEiLz4KPC9zdmc+Cg==);
      position: absolute;
      width: 20px;
      height: 20px;
      @include flex();
      background-color: $color_text_secondary;
      border-radius: 2px;
      display: none;
    }
  }

  &_itemPerPage
  {
    @include flex(row,center,flex-end);
    position: relative;
    @include fixedWidth(222px);

    &_label
    {
      @include absolute(9px,auto,auto,24px);
      z-index: 1;
      color: $color_text_secondary;
      @include typographyBuilder(secondary,500,10,16);

      & ~ input, ~ div > input, ~ select
      {
        padding: 16px 24px 0 24px;
      }
    }
  }

  & > div > div[class^=" css-"][class$="-control"]
  {
    padding: 8px 48px 0 6px;
    
    & > div
    {
      & > span[class^=" css-"][class$="-indicatorSeparator"]
      {
        display: none;
      }
      & > div[class^=" css-"][class$="-indicatorContainer"]
      {
        display: none;
      }
    }

    & > div
    {
      margin-left: 20px;
    }

    &::before
    {
      content: "";
      @include fixedSize(18px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23998060' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
      position: absolute;
      left: 8px;
    }
  }

  & > div[id="selectType"] > div[class^=" css-"][class$="-control"]
  {
    & > div
    {
      margin-left: 20px;

      & > div[class^=" css-"][class$="-singleValue"],
      & > div[class^="css-"][class$="-Input"]
      {
        margin-left: 2px;
      }
    }
    
    & > div[class=" css-1hwfws3"],
    & > div[class^=" css-"][class$="-Subscription"]
    {
      & > div:only-child,
      & > div:nth-child(2)
      {
        margin-left: 2px !important;
      }
    }
  }

  & > div > div[class^=" css-"][class$="-menu"]
  {
    z-index: 2;
  }

  &_outer
  {
    & > div:first-child > label[for="street"],
    & > div:nth-child(2) > label[for="city"]
    {
      position: absolute;
      z-index: 1;
      color: $color_text_secondary;
      padding: 9px 24px 0 36px;
      @include typographyBuilder(secondary,500,10,16);

      & ~ input, ~ div > input, ~ select
      {
        padding: 16px 24px 0 24px;
      }
    }
  }
}