@import '../utils/variables';

.pagination
{
  list-style-type:none;
  @include flex();
  padding:24px 0 0 0;

  &_item 
  {
    border: 1px solid #E5E7EF;
    width: 44px;
    height: 44px;
    border-radius: 2px; 
    @include flex();
    @include typographyBuilder(secondary,400,14,24);
    margin: 0 4px;
    cursor: pointer;
    color: $color_text_primary;
  }

  &_active,:hover
  {
    background-color: $color_rose;
    color: $color_white;
  }

  :first-child,
  :last-child
  {
    border: none;
  }
}