@import '../utils/variables';

.password
{

  &_passwordContainer
  {
    position: relative;

    & > button 
    {
      padding: 0;
      @include absolute(50%,12px);
      top: 50%;  
      transform: translate(0, -50%);
      color: $color_rose;
      width: 40px;
      height: 40px;
      align-self: center;
      justify-self: center;
      z-index: 2;
      background-color: $color_rose_bg2;
      border-radius: 30px;
      border: none;
    }
  }

  &_label
  {
    @include typographyBuilder(secondary,500,10,16);
  }

  &_bar
  {
    display: none;
    width: 100%;

    &::after
    {
      content:"";
      width: 1%;
      height: 3px;
      position: absolute;
      right: 33%;
      background-color: $color_white;
    }

    &::before
    {
      content:"";
      position: absolute;
      width: 1%;
      height: 3px;
      left: 33%;
      background-color: $color_white;
    }

    &[class*="weak"]
    {
      display: block !important;
      background-image: linear-gradient(to right, $color_error 32%, $color_grey 0%);
      height: 3px;

      & + span
      {
        color: $color_error;
      }
    }

    &[class*="medium"]
    {
      display: block !important;
      background-image: linear-gradient(to right, $color_warning 68%, $color_grey 0%);
      height: 3px;

      & + span
      {
        color:$color_warning;
      }
    }

    &[class*="strong"]
    {
      display: block !important;
      background: $color_success;
      height: 3px;

      & + span
      {
        color: $color_success;
      }
    }
  }

  &_criteria
  {
    list-style-type:none;
    display: none;
    margin: 0;
    padding: 0 0 16px 0;

    &[class*="show"]
    {
      display: grid !important;
      grid-template-columns: 50% 50%;
    }

    & > li
    {
      @include typographyBuilder(secondary, 400, 10, 16);

      & > svg
      {
        margin-right: 7px;
      }
    }
  }
}