@import "../utils/variables";

.placeholderItem
{
  background: $color_placeholder;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;

  &_header
  {
    &Logo
    {
      width: 105px;
      height: 35px;
    }

    &Navigation
    {
      height: 40px;
      width: 100%;
      margin-bottom: 1rem;
    }

    &Widget
    {
      height: 32px;
      width: 100%;
    }
  }

  &_banner
  {
    width: 100%;
    height: 375px;
  }

  &__announcements
  {
    margin-top: 1rem;
    height: 10vh;
    width: 100%;
  }

  &_widget
  {
    &Service
    {
      height: 65px;
      width: 100%;
    }

    &List
    {
      height: 48px;
      width: 100%;
      margin: 8px 0;
    }
  }

  &_product
  {
    &Container
    {
      @include flex();
      overflow: hidden;
    }

    &Card
    {
      height: 185px;
      width: 130px;
      margin-right: 16px;
    }

    &__cardDetail
    {
      height: 500px;
      width: 100%;
    }

    &__title
    {
      height: 30px;
      width: 250px;
      margin-bottom: 2rem;

      @media screen and (max-width: 575px){
        margin: 1rem 0;
      }
    }

    &__list
    {
      height: 15px;
      width: 100%;
      margin-bottom: 1rem;
    }

    &__cart
    {
      width: 100%;
      height: 150px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    &__orderSummary
    {
      width: 100%;
      height: 50px;
      border-radius: 5px;
    }
  }

  &_productCat
  {
    &__title
    {
      width: 100%;
      height: 30px;
      margin: 1rem 0;
    }
  }

  &_cartPlaceorder
  {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &_cartPlaceorderTitle
  {
    width: 100%;
    height: 50px;
    border-radius: 5px;
  }

  &_placeorderForm
  {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &_customerDetail
  {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &_shippingMethod
  {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &_paymentMethod
  {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &_article
  {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    @media screen and (max-width: 575px) {
      height: 300px;
    }
  }

  &_footer
  {
    &__widgetTitle
    {
      height: 20px;
      width: 50%;
      margin-bottom: 1rem;
    }
  }

  &_blogsList
  {
    width: 100%;
    height: 150px;
    margin-bottom: 32px;
  }
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}